<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- Bootstrap -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet"> -->
    <nav class="navbar navbar-inverse" style="background-color: rgb(51, 50, 50);">
      <center><img src="static/images/ANPR_Chroma.png" alt="ANPR_Chroma" width="330" height="55"></center>
    </nav>
    <nav class="navbar navbar-inverse" style="background-color: black;">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" style="color: burlywood;">ANPR Chroma</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('description') }}">Description</a></li>
          {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('anpr') }}">ANPR Online Demo</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            <li><a href="{{ url_for('account') }}">Account</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
          {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
          {% endif %}
          
        </ul>
      </div>
    </nav>
    <!-- Image and text -->
    <style>
      body {
        background-image: url('/static/images/bg6.jpg')
      }
    </style>
  </head>
  <body>
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      {% block content %}{% endblock %}
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
  </body>
</html>